.cart {
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  margin: 0;
}
.contentWrapper {
  flex: 1;
}

.CartInfo {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

/*
.Allcheck {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 40px;
}
*/

.ProductInCartInfo {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  font-weight: bold;
}
.ProductInCartInfo span {
  padding-right: 10%;
  padding-left: 10%;
  white-space: nowrap;
  text-align: center;
}

.ProductDetail {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.Productimg {
  width: 150px;
  height: 100px;
  padding-left: 18px;
  padding-right: 18px;
}
.ProductDetail span {
  margin-right: 70px;
  margin-left: 50px;
  text-align: center;
  display: block;
}

.Counter {
  padding-left: 5px;
}

.ProductPrice {
  padding-left: 62px;
}
.TotalPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

/* p {
  padding-right: 15px;
  font-size: 15px;
  font-weight: bold;
} */

h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

hr {
  margin-top: 5px;
  color: black !important;
}
