.cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Allcheck {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 40px;
}

.contentWrapper {
  flex: 1;
}
