@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");
.image-holder {
  width: 600px;
  /* height: 100px; */
}

/* div {
    margin-top: 10px;
} */
.div-class {
  margin-top: 10px;
}

.Row {
  /*  display: flex;
  justify-content: center; */
  text-align: center;
}

.Row img {
  max-width: 100%;
  margin-bottom: 40px;
}

.product-detail {
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: space-between; /* 0527 */
  margin-bottom: 30px; /* 0527 */
  font-family: "IBM Plex Sans KR", sans-serif;
  padding: 20px 20px;
}

.product-images {
  /*  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 40px;
  min-width: 40%; */
  flex-basis: 50%;
}

.product-main-image {
  width: 100%;
  max-width: 550px;
  /* margin-bottom: 20px; */
  margin-left: 30px;
  overflow: hidden;
}

.product-info {
  /*  display: flex;
  flex-direction: column; */
  flex-basis: 50%;
  margin-right: 30px;
}

.product-title {
  font-weight: bold;
  margin-bottom: 60px;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin-left: 20px;
  width: 500px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin-left: 20px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 150px;
  margin-left: 20px;
}

.add-to-cart {
  margin-top: auto;
}

.add-to-cart button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart button:hover {
  background-color: #0062cc;
}
