@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

.location {
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.LocationInfo {
  font-weight: bold;
  text-align: center;
}
.contentWrapper {
  flex: 1;
}

.titletext {
  font-size: 30px;
}
