.kakaologin {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  flex: 1;
}

.kakaologin {
  height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.kakaologin h1 {
  padding-bottom: 20px;
}
