@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

.kakaologin {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.login {
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  flex: 1;
}

.kakaologin {
  height: 200px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.kakaologin h1 {
  padding-bottom: 30px;
}
