@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

.mypage {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.contentWrapper {
  flex: 1;
}

.MyPageInfo {
 /*  text-align: left; */
  padding-left: 100px;
  padding-right: 100px;
}

.OrderInCartInfo {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.OrderInCartInfo span {
  /* padding-right: 93px;
  padding-left: 115px; */

  text-align: center;
}

.OrderDetail {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.OrderImg {
  width: 150px;
  padding-left: 20px;
  /* flex-basis: 10%; */
}
.OrderDetail span {
  /* margin-right: 45px; */
  /* margin-left: 60px; */
  text-align: center;
  cursor: pointer;
}

.OrderNumber {
  flex-basis: 20%;
  margin: 53px;
}

.OrderName {
  flex-basis: 30%;
}

.OrderPrice {
  flex-basis: 15%;
}

.OrderCounter {
  flex-basis: 15%;
}

.product-details {
  opacity: 0; /* 초기에는 상세 내용이 표시되지 않음 */
  transition: opacity 0.5s ease-in-out; /* 애니메이션 효과 지정 */
  display: none;
}

.product-details.show {
  opacity: 1; /* 상세 내용이 표시되면 opacity를 1로 변경하여 fade-in 애니메이션 효과 적용 */
  display: inline;
}
