@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");
.paypage {
  padding-bottom: 30px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.contentWrapper {
  flex: 1;
}

.PayInfo {
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  height: auto;
}

.Payment-Info {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
}
.Payment-Info span {
  padding-right: 110px;
  padding-left: 130px;
  white-space: nowrap;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.ProductForPay {
  padding-right: 50px;
}

/*.ProductForPay p .PayConfirm p {
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
}
*/

.ProductForPay h2 {
  text-align: right;
}

.NameforDeliver {
  height: 60px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  box-sizing: initial;
}

.NumberforDeliver {
  height: 60px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  box-sizing: initial;
}

.AddressforDeliver {
  height: 80px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  box-sizing: initial;
}

.PayMethod {
  display: flex;
  height: 200px;
  padding-left: 30px;
}

.PayCash {
  margin-right: 100px;
}

.AccountTransfer {
  display: flex;
}
.NameforPay {
  height: 30px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  box-sizing: initial;
}

.BankforPay {
  height: 30px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  box-sizing: initial;
}
.PayByKakaoPay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Kakaomoney {
  display: flex;
}

.PayConfirm {
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
  justify-content: center;
  height: 100px;
}

/*.PayConfirm p {
  padding-top: 15px;
  font-size: 15px;
}
*/
.Howmuch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding-top: 10px;
}

input[type="text"] {
  border: 1px solid #636e72;
  /* background-color: #f9e9ed;*/
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  height: 25px;
  width: 170px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

/* option {
  border: 1px solid #636e72;
  /* background-color: #f9e9ed;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  height: 25px;
  width: 180px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
} 
*/

hr {
  margin-top: 5px;
  color: black !important;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="text"] {
  box-sizing: initial;
}

.DeliveryInfo h4,
.PatMethodText h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.p-css {
  padding-right: 20px;
  margin-bottom: 0px;
}

.CartProductList {
  height: auto;
}
