@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

.cart-item,
.cart-info,
.cart-info-price {
  display: flex;
}
.cart-item {
  padding-bottom: 25px;
}
.cart-item span {
  text-align: center;
}

.cart-row-img-box {
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}
/*상품 이미지 크기*/
.cart-row-img {
  width: 100px;
  height: 150px;
}

.cart-info-name-box {
  width: 300px;
  text-align: left;
}
.cart-info-name {
  font-weight: bold;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;

  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 20px;
}

.cart-info-count,
.cart-remove-btn,
.cart-price {
  height: 150px;
  line-height: 150px;
  font-weight: bold;
}

.cart-price {
  width: 200px;
  text-align: center;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 45px;
}
.cart-info-count {
  width: 200px;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}
.counter {
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #f9e9ed;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
  margin-left: 15px;
}

@media (max-width: 800px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
  }

  .cart-row-img {
    padding: 0;
    width: 80px;
    height: 120px;
  }

  .cart-info-name {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .cart-info-price {
    flex-direction: column;
    align-items: center;
  }

  .cart-info-count,
  .cart-remove-btn,
  .cart-price {
    height: auto;
    line-height: normal;
    font-size: 14px;
    text-align: center;
  }

  .counter {
    margin: 5px;
  }
}
