@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

/*font-family: 'IBM Plex Sans KR', sans-serif;*/

.MainPageProduct {
  height: auto;
  width: 100%;
  margin: 0 auto;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.PageProductList {
  height: auto;
  width: 85%;
  margin: 0 auto;
  font-family: "IBM Plex Sans KR", sans-ser;
}
.MainPageProduct h2 {
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.MainFilterButton {
  padding-left: 9.8%;
}

.subBanner {
  /* filter: brightness(50%); */
  padding-top: 15px;
  width: 80%;
  height: 250px;
  display: block;
  margin: 0px auto;
}

.subBanner img {
  width: 80%;
}

.subBanner h4 {
  font-size: 20px;
  line-height: 200px;
  text-align: center;
}

.ProductList {
  text-align: center;
}

.ProductListInfo {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 0px;
  justify-items: center;
}
.datacheck {
  text-align: center;
}

.BestProduct {
  text-align: center;
}
.BestProduct p {
  padding-right: 0px;
  padding-left: 0px;

  white-space: nowrap;
}

.product-img {
  background-color: #f1f2f6;
  width: 200px;
  height: 250px;
}

.productinfo-cart {
  display: flex;
  text-align: center;
  justify-content: center;
}

.productinfo {
  height: 140px;
  width: 200px;
  padding-left: 30px;
  box-sizing: initial;
}

.cart-img-box {
  height: 130px;
  width: 50px;
}
.cart-img {
  padding-top: 10px;
  vertical-align: top;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-sizing: initial;
}
.product-name {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.product-price {
  font-size: 17px !important;
  margin-top: 0px;
}

.category-name {
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* .product-sold {
  font-size: 20px;
} */
/*화면 줄였을 때 2x4 리스트 조정*/

@media (max-width: 1200px) {
  .ProductListInfo {
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .ProductListInfo {
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .subBanner {
    display: none;
  }
}

@media (max-width: 620px) {
  .ProductListInfo {
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }

  .subBanner {
    display: none;
  }
}
