.banner img {
  width: 100%;
}
.container {
  width: 100%;
}
.slick-list {
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: auto;
}
.slick-prev {
  z-index: 1;
  left: 20px;
}
.slick-next {
  right: 20px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
