@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

/*font-family: 'IBM Plex Sans KR', sans-serif;*/

.MainPageProduct {
  height: auto;
  width: 100%;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.MainPageProduct h1 {
  padding-top: 50px;
  padding-left: 150px;
}

.MainFilterButton {
  margin-left: 140px;
}

.subBanner {
  /* filter: brightness(50%); */
  width: 80%;
  height: 200px;
  background-color: #f1f2f6;
  margin: 0 auto;
}

.subBanner h4 {
  font-size: 20px;
  line-height: 200px;
  text-align: center;
}

.ProductList {
  text-align: center;
}

.ProductListInfo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minman(220px, 1fr));
  grid-gap: 15px;
}
