@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

/*font-family: 'IBM Plex Sans KR', sans-serif;*/

.MainPageProduct {
  width: 100%;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.subBanner img {
  filter: brightness(50%);
  width: 100%;
}
