@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: white;
  font-family: "Gothic A1", "Lexend Deca", sans-serif;
}

/*font-family: "Gothic A1", "Lexend Deca", sans-serif;*/

.nav-container_left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  height: 80px;
}

/*메인 로고 */
.nav-container_left img {
  width: 150px;
  margin-left: 100px;
  margin-right: 200px;
  cursor: pointer;
}

/*all 영양제 운동복*/
.nav-container_left span {
  width: 142px;
  height: 60px;
  line-height: 10px;
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
}

/*맨 오른쪽 픽토그램들*/
.nav-container_right {
  margin-right: 150px;
}
.nav-container_right img {
  width: 30px;
  cursor: pointer;
}

.nav-container_right span {
  padding-right: 20px;
  padding-left: 10px;
}

/*드롭다운 메뉴*/
.dropdown {
  font-family: "IBM Plex Sans KR", sans-serif;
  position: relative;
  display: inline-block;
}

.dropbtn {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
}
.dropdown-content {
  min-width: 80px;
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-size: 13px;
}

.dropdown-content a:hover {
  background-color: #dcdde1;
}

/*가져다대면 컨텐츠 뜨게*/
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
