.redText {
  color: red;
}

.productCustomButton {
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #f9e9ed;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 15px;
  font-weight: bold;
}
