@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&display=swap");
.SportsWearPageProduct h1 {
  text-align: left;
  padding-top: 50px;
  padding-left: 150px;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.SportsWearBanner {
  padding-top: 15px;
  width: 80%;
  max-height: 250px; /* 0507 */
  display: block;
  margin: 0px auto;
  overflow: hidden; /* 0507 */
  margin-bottom: 3%; /* 0507 */
}

.SportsWearBanner img {
  /* width: 80%; */
  max-height: initial;
  margin-top: -15%;
  width: 100%;
}

.SportsWearPageProduct {
  position: relative;
  margin-bottom: 10%;
}

.AllFilterButton13 {
  position: absolute;
  top: 10;
  right: 140px;
}

.SportsWearFilterButton {
  padding-left: 140px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #f9e9ed;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.paginataion-group {
  width: 100%;
  text-align: center;
}
